* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

a {
    font-weight: bolder;
}

main {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #4E5BEE;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.imagem img {
    max-width: 280px;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    -webkit-gap: 10px;
    -moz-gap: 10px;
}

.login_email, .login_password {
    position: relative;
}

span {
    position: absolute;
    top: 15px;
    left: 5px;
}

.login_email input, .login_password input {
    padding: 7px 0px 5px 30px;
    width: 280px;
    height: 50px;
    outline: 0;
    border: 1px solid;
    border-radius: 10px;
    font-size: 1em;
    background: none;
    color: white;
}

.login_email input:focus, .login_password input:focus {
    border: 1px solid #000000c9;
    box-shadow: 0px 0px 3px #000000bd;
}

.login_email input:hover, .login_password input:hover {
    background: linear-gradient(45deg,#4452ee, #fdfcfc79);
}

.login_submit {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.login_submit button {
    width: 90%;
    color: #0000ffde;
    background: white;
    font-size: 1em;
    font-weight: 600;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
}

.login_submit button:hover {
    background: #ffffffe5;
}

.recuperar_senha {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.container_img {
    width: 100%;
    position: relative;
}

.container_img img {
    position: absolute;
    right: 50px;
    z-index: 0;
    max-width: 800px;
    height: 100vh;
}

p.footer {
    padding: 0 10px;
    text-align: center;
}

.footer a {
    color: #0000ff;
}

@media screen and (max-width: 1045px) {
    .container_img {
        display: none;
        width: 0;
        height: 0;
    }
}
